[Unit]
Description=Run OpenVPN Manager expiry worker every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=ovpnmgr-expiry.service

[Install]
WantedBy=timers.target
